.tab-container {     
    width: 100%;
    max-width: 700px;
    margin: 24px auto 0;

    .tab-content {
      height: 50vh;
      padding: 20px; 
      width: 100%;
      border: 1px solid #ddd;
      background: #fff;
      line-height: 1.5em;
      letter-spacing: 0.3px;
      color: #444;
    }
  }